.social {
  display: block;
  img {
    width: 20px;
    height: 20px;
  }
  a {
    display: inline-block;
    &:hover {
      opacity: 0.8;
    }
  }
}

.mode-filter{
   filter: invert(42%) sepia(40%) saturate(407%) hue-rotate(261deg) brightness(88%) contrast(88%);
}