html, html * {
    color: #fef9e7 !important;
    border-color: #8c5d82 !important;
    background-color: #8c5d82 !important;
  }
  
  html, body, html::before, body::before {
    background-image: none !important;
  }

  img, video {z-index: 1}
  cite, cite * {color: #029833 !important}
  video {background-color: transparent !important}
  input, textarea {background-color: #8c5d82 !important}
  input, select, button {background-image: none !important}
  a {background-color: #8c5d82 !important}
  .dot {color: #8c5d82 !important}
  
  :before {color: #fef9e7 !important}
  :link, :link * {color: #fef9e7 !important}
  :visited, :visited * {color: #fef9e7 !important}
  :hover {color: #fef9e7;}

  .logo {
    filter: invert(100%) sepia(59%) saturate(422%) hue-rotate(313deg) brightness(102%) contrast(99%);
  }
  
  .social {
    filter: invert(100%) sepia(59%) saturate(422%) hue-rotate(313deg) brightness(102%) contrast(99%);
  }