html, html * {
    color: #faf9e7 !important;
    border-color: #8c5d82 !important;
    background-color: #8c5d82 !important;
  }
  
  html, body, html::before, body::before {
    background-image: none !important;
  }

  .header {
    outline-color: #faf9e7 !important;
  }

  .sub-footer {
    outline-color: #faf9e7;
  }

  .button {
    background: #faf9e7;
    color: lighten(#faf9e7, 50%);
    &:hover {
      color: #8c5d82;
      background-color: lighten(#faf9e7, 10%);
    }
  }

  .content {
    p{
      color: lighten(#faf9e7, 10%);
    }
  }

  img, video {z-index: 1}
  cite, cite * {color: #029833 !important}
  video {background-color: transparent !important}
  input, textarea {background-color: #8c5d82 !important}
  input, select, button {background-image: none !important}
  a {background-color: #8c5d82 !important}
  .dot {color: #8c5d82 !important}
  
  :before {color: #faf9e7 !important}
  :link, :link * {color: #faf9e7 !important}
  :visited, :visited * {color: #faf9e7 !important}
  :hover {color: #faf9e7;}

  /* .logo {
    img{
      filter: invert(100%) sepia(59%) saturate(422%) hue-rotate(313deg) brightness(102%) contrast(99%);
    }
  } */
  
  .social {
    img {
      filter: invert(100%) sepia(59%) saturate(422%) hue-rotate(313deg) brightness(102%) contrast(99%);
      background: transparent;
    }
  }

  svg {
    background-color: rgba(0,0,0,0);
    background: transparent;
  }